@model IEnumerable<CompAerea.Dominio.Entidades.Avioes>

<div class="w-100 card border-0 p-4">
	<div class="card-header bg-success bg-gradient ml-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h2 class="text-white py-2">Lista de Avioes</h2>
			</div>
		</div>
	</div>
	<div class="card-body border p-4">
		<div class="row pb-3">
			<div class="col-6 offset-6 text-end">
				<a asp-controller="Aviao" asp-action="Create" class="btn btn-secondary">
					<i class="bi bi-plus-circle"></i>Criar Novo Avião
				</a>
			</div>
		</div>

		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nome</th>
					<th>Descricao</th>
					<th>Preco</th>
					<th>Classe</th>
					<th>Passageiros</th>
					<th>ImageUrl</th>
					<th>DataPartida</th>
					<th>DataChegada</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var obj in Model)
				{
					<tr>
						<td>@obj.Id</td>
						<td>@obj.Nome</td>
						<td>@obj.Descricao</td>
						<td>@obj.Preco</td>
						<td>@obj.Classe</td>
						<td>@obj.Passageiros</td>
						<td>@obj.ImageUrl</td>
						<td>@obj.DataPartida</td>
						<td>@obj.DataChegada</td>
						<td>
							<div class="w-75 btn-group" role="group">
								<a asp-action="Update" asp-route-aviaoId="@obj.Id" class="btn btn-success mx-2">
									<i class="bi bi-pencil-square"></i> Editar
								</a>
								<a asp-action="Delete" asp-route-aviaoId="@obj.Id" class="btn btn-danger mx-2">
									<i class="bi bi-trash-fill"></i> Eliminar
								</a>
							</div>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>


			